@import "./colors";

#about {
  .content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .drawing {
      flex-basis: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        margin-top: 0;
      }
    }

    .accordion {
      flex-basis: 75%;

      .accordion-card {
        background-color: $light-blue;
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        color: white;
        position: relative;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(110, 107, 110, 1);
        -moz-box-shadow: 1px 1px 5px 0px rgba(110, 107, 110, 1);
        box-shadow: 1px 1px 5px 0px rgba(110, 107, 110, 1);

        &:hover {
          -webkit-box-shadow: 2px 4px 15px 0px rgba(110, 107, 110, 1);
          -moz-box-shadow: 2px 4px 15px 0px rgba(110, 107, 110, 1);
          box-shadow: 2px 4px 15px 0px rgba(110, 107, 110, 1);
        }

        &[open] summary ~ * {
          animation: sweep 0.5s ease-in-out;
        }

        summary {
          padding: 1.25rem;
          cursor: pointer;

          &:focus {
            outline: 2px solid ghostwhite;
          }
        }

        .card-body {
          display: flex;
          padding: 0 2.5rem 1.25rem 2.5rem;
          font-size: 1rem;

          .card-list {
            list-style-type: circle;
            padding-inline-start: 1.25rem;
            line-height: 1.125rem;
          }
        }
      }
    }
  }
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 9.375rem;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
