@import "./colors";

aside {
  .side-nav {
    height: 80vh;
    position: relative;

    .nav-line {
      width: 5px;
      background-color: $brown;
      height: 80vh;
      position: absolute;
    }

    .bubble-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      right: -18px;
      height: 80vh;
      align-items: center;
      width: 30px;

      .bubble {
        list-style: none;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        a {
          font-size: 32px;
          line-height: 18px;
          color: #71a271;
          text-decoration: none;
          color: transparent;
          text-decoration: none;
          border-radius: 50%;
          background-color: $green;

          &:focus,
          &:hover {
            background-color: lighten($green, 30%);
            outline: none;
            border-radius: 50%;
          }
        }

        &.active a {
          font-size: 48px;
          line-height: 28px;
          background-color: lighten($green, 30%);
        }
      }
    }
  }
}
