@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import "./styles/colors";

html {
  scroll-behavior: smooth;

  body {
    background-color: $blue;
    font-family: "Gruppo", cursive;
    margin: 0;
    box-sizing: border-box;

    section {
      height: 100vh;
      padding: 3.75rem;
      background-color: $light-purple;

      .typewriter {
        border-right: solid 0.1875rem darken($light-blue, 20%);
        white-space: nowrap;
        overflow: hidden;
        font-size: 1.75rem;
        color: darken($light-blue, 20%);
        animation: animated-text 4s steps(29, end) 1s 1 normal both,
          animated-cursor 1s steps(29, end);
      }

      p {
        line-height: 1.125rem;
      }
    }
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: $light-blue;
  }
  to {
    border-right-color: transparent;
  }
}
